@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --bgcolor:#faf9ff;
    --bodycopyclr:#797979;
    --white:#fff;
    --black:#000;
    --accent:#fc881c;
    --primary:#1020cf;
    --basic: #f3f2f2;
}

#services {
  scroll-margin-top: 140px;
}

#hero {
  scroll-margin-top: 80px;
}

#newsletter {
  scroll-margin-top: 120px;
}

#buy-now {
  scroll-margin-top: 120px;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--bgcolor);
    font-family:"Montserrat", sans-serif;
}

h1{
    font-size: 48px;
    color: var(--white);
    font-weight: 900;
    letter-spacing: 2px;
}

h2{
    font-size: 32px;
    color: var(--black);
}

h3{
    font-size: 24px;
    color: var(--black);
    font-weight: 600;
}

p{
    color: var(--bodycopyclr);
    font-weight: 16px;
    font-weight: 600;
}

a{
    text-decoration: none;
}

/*utility class*/

.container{
    max-width: 1280px;
    display: flex;
    margin: 0px auto;
}

@media (max-width: 768px){

    .container{
        width:100%;
    }

}

/* hero */

.hero{
    height: 200vh;
    width: 100%;
    background: linear-gradient(rgb(3, 49, 95),rgba(27, 61, 163, 0.5)),url(images/IMG_7285.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    /*margin-bottom: 50px;*/
}

.nav-links ul {
  position: absolute;
  background-color: transparent;
  width: 100%;
  list-style: none;
  padding: 2%;
  left: 0;
  top: 220px;
  z-index: 10;
  font-size: large;

  display: flex;              
  justify-content: center;
  gap: 140px;
}

/*.nav-links.active ul {
  display: flex;              /* OPEN 
}
*/
nav{
    padding: 25px 0;
    justify-content: space-between;
    position: relative;
}

img{
   height: auto;
   width: 300px;
    
}

.logo span{
    color: var(--black);
    font-size: 72px;
    font-weight: 385;
    margin: left 8px;
}

.logo{
    display: flex;
    align-items: center;
}

.label{
    padding-left: 3%;
}

 /*nav ul{
    position: absolute;
    background-color: var(--white);
    width: 100%;
    list-style-type: none;
    padding: 2%;
   display: flex; */
   /* justify-content: center;
    gap: 50px;
    left: 0;
    top: 100px;
    z-index: 10;
    opacity: 0;
    transition: .5s all ease-in-out;
}*/

nav ul li a{
    color: var(--black);
    border-bottom: 1px dashed var(--black);
    text-transform: uppercase;
    font-weight: 750;
}

/*.showMenu{
    opacity: 1;
}
*/

@media(max-width:768px){
    nav ul{
        flex-direction: column;
        padding: 24px;
    }
}
/*
.header{
    color: #000000;
    font-size: xx-large;
    padding-top: 50%;
}
*/
.hero-content{
    width: 65%;
    margin: 0 auto;
    position: relative;
    top: 25%;
    text-align: center;
    padding-top: 25%;

    h1{
        color: var(--accent);
        font-weight: 500;
    }

    p{
        color: var(--white);
        font-weight: 400;
        line-height: 1.5;
        font-size: x-large;
    }

    .tint{
        color: var(--white);
        font-weight: 400;
        line-height: 1.5;
        font-size: large;
    }

    * + *{
        margin: 20px 0;
    }

    .cta{
        margin-top: 30px;
    }
}

.btn{
    border-radius: 20px;
    color: var(--white);
    font-weight: 600;
    display: inline-block;
}

.btn.primary{
    background-color: var(--primary);
    padding: 10px 20px;
    margin-right: 20px;
    margin-left: 20px;
}

.btn.ghost{
    border: 2px solid var(--white);
    padding: 7px 24px;
}

@media (max-width:768px){
    .hero{
        height: auto;
        padding: 50px 0;
    }
    .hero-content{
        width:90%;
        top: 0;
    }
    h1{
        font-size: 36px;
    }
    .btn.primary, .btn.ghost {
        padding: 8px 16px;
        font-size: 14px;
    }

}


/* about */
/*
.about{
    background-image: url(images/colorful.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
    margin: 50px 0;

    header.about-header{
        margin: 0 auto;

        h4{
            margin-bottom: 16px;
        }
        &.container{
            text-align: center;
            justify-content: center;
        }
    
    }

    .uniform-image{
        width: 300px;
        height: 300px;
        height: auto;
        /*object-fit: cover;
    }

    .about-content{
        display: flex;
        gap: 15px;
        /*justify-content: space-between;
        padding:100px 0;
    }

    .decor-box{
        position: absolute;
        height: 100px;
        width: 40%;
        background-color: var(--primary);
        right: 0;
        bottom: 100px;
        z-index: -1;
        border-bottom-right-radius: 80px;
    }

    @media (max-width:768px){
        .about-content{
            flex-direction: column;
            align-items: center;
            gap: 30px;
        }

    }


}*/

/* newsletter */

.newsletter .left-content {
  flex: 1;
  min-width: 480px;
  padding-left: 25%;
}

.newsletter-text {
  color: var(--white);
  font-size: 16px;
  line-height: 1.7;
  margin-bottom: 24px;
  max-width: 60ch;
}

.newsletter-thanks {
  color: var(--white);
  font-weight: 700;
  margin-top: 10px;
}

.newsletter{
    background-image: linear-gradient(rgba(24,46,96,1),rgba(24,46,96,.05)),url(images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 100px;
    /*margin: 50px 50px;*/

    h2 {
        color:#fc881c;
        padding-bottom: 5%;

    }

    h3,h4{
        color:#fc881c;
        padding-bottom: 3%;
    }

    .container{
        align-items: center;
        gap: 25px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .left-content{
        flex-basis: 35%;
    }

    .right-content{
        flex-basis: 65%;
    }

    form{
       /* background-color: var(--accent);*/
        display: flex;
        flex-wrap: wrap;
        padding: 40px;
        justify-content: center;
        align-items: center;
        /*position: relative;*/
        gap: 20px;
    }
        input[type="text"]{
            width: 100%;
            max-width: 400px;
            padding: 12px;
            border-radius: 48px;
            outline: none;
            border: none;
        }

        /* styles for textarea */

        /* make sure consistent font style for email and message boxes */
    input[type="email"], textarea {
        width: 100%;
        max-width: 400px; /* <-- can set a max width for better layout */
        padding: 12px;
        border-radius: 48px;
        outline: none;
        border: 1px solid var(--bodycopyclr);
        font-family: 'Montserrat', sans-serif;
        font-size: 14px; /* <-- can make sure the font size is consistent */
    }
  
        textarea {
            /*width: 100%;*/
            /*max-width: 400px;*/
            /*padding: 12px;*/
            /*border-radius: 48px;*/
            /*outline: none;*/
            /*border: 1px solid var(--bodycopyclr);*/
            resize: vertical; /* allow users to resize vertically */
            margin-top: 10px; /* space between input and textarea */
            margin-bottom: 20px; /* space between textarea and button */
            height: 80px; /* <-- can set a default height */
        }

        button {
            background-color: var(--black);
            color: var(--white);
            padding: 8px 16px;
            border: 0;
            border-radius: 24px;
            /*flex-shrink: 0;*/
            cursor: pointer;
            font-size: 16px; /* <-- can adjust font size for better readability */
        }

        #email {
            width: 100%;
            max-width: 400px;
            padding: 10px;
            border-radius: 24px;
            outline: none;
            border: 0;
            
        }
        
        #email::placeholder {
            font-size: 14px;
        }
        
        @media (max-width: 600px) {
            #email {
                font-size: 12px;
            }
        }
        
    }
        /*button{
            position: absolute;
            right: 55px;
            top: 54px;
            background-color: var(--black);
            color: var(--white);
            padding: 8px 16px;
            border: 0;
            border-radius: 24px;
            flex-shrink: 0;
            cursor: pointer;
        }*/

    @media (max-width: 768px){
        .newsletter{
            padding: 32px;
        }
    
        form{
            flex-direction: column;
            gap: 30px;
        }
    
        .left-content{
            text-align: center;
        }
    
        input[type="email"], textarea, button {
            width: 100%; /* Make form fields take up the full width on smaller screens */
            max-width: 100%; /* Ensure fields can take up full screen width */
        }
    
        textarea {
            min-height: 100px; /* Adjust the height of the textarea on mobile */
        }
    }

/* service */

.service {
   position:relative;
  width: 100%;
  height: 260vh;
  overflow: hidden;
}

.service .bg-video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: -1; /* prevents interaction */
}


/* Keep your content above the video */
.service-content {
  position: relative;
  z-index: 1;
}

/*
.service{
    background-image: url(images/ScissorLiftFlagpoleDesign.mp4);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
*/

/* Toggle button */
.toggle-cards {
  margin: 60px auto 0;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 26px;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  background: rgba(0,0,0,0.55);
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

/* Cards collapse */
.service-cards {
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.service-cards.collapsed {
  opacity: 0;
  pointer-events: none;
  transform: translateY(-20px);
}


.toggle-cards {
  margin-top: 80px;
  width: 20%;
}

.toggle-cards summary {
  cursor: pointer;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: 700;
  color: white;
  font-size: 18px;
  padding: 12px 24px;
  background: rgba(0, 0, 0, 0.55);
  border-radius: 30px;
  width: fit-content;
  margin: 0 auto 30px;
}

.togglery::-webkit-details-marker {
  display: none;
}

.toggle-cards[open] summary i {
  transform: rotate(180deg);
}

.toggle-cards:not([open]) .service-cards {
  margin-top: 0;
}

.toggle-cards summary i {
  transition: transform 0.3s ease;
}

    

    header.service-header{
        padding-top: 50px;

        h4{
            margin-bottom: 18px;
        }
        &.container{
            text-align: center;
            justify-content: center;
        }
    }



    .service-cards {
    display: flex;
    gap: 32px;
    margin-top: 200px;
    margin-bottom: 50px;
}

    .service .card p {
  color: #222;
  font-size: medium;
}

.card ul {
    padding-left: 20px;
    text-align: left;
}

.card li {
    margin-bottom: 10px;
}

.indent{
    text-indent: 10%;
}



    .card{
        flex: 1;
        padding: 50px;
        text-align: center;
        background-color: var(--basic);
        border-radius: 16px;
        box-shadow: 0 8px 24px rgba(149,157,165,.2);

    .card-images {
    display: flex;
    gap: 15px;              
    margin-bottom: 5px;    
}

.card-images img {
    width: 50%;             
    height: 50%;
    object-fit: cover;      
    border-radius: 8px;     
}

.boast img{
    width: 75%;
    height: 20%;
    object-fit: cover;
    border-radius: 8px;
}

.box img{
    border-radius: 8px;
}    

        i{
            color: var(--black);
            border-radius: 8px;
        }

        * + *{
            margin-top: 16px;
        }

       /* .btn-primary{
            margin-right: 0;
        }
        
        .btn.primary{
            background-color: var(--accent);
        }*/
      
    }


    @media (max-width:768px){
        .service-cards{
            flex-direction: column;
            gap: 30px;
        }
    }

/* CTA */

.cta-section {
    background: linear-gradient(135deg, #ff9800, #ff6a00);
    padding: 90px 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    /*margin-top: 100px;*/
  }
  
  .cta-inner {
    max-width: 900px;
    margin: auto;
    text-align: center;
    color: #fff;
    animation: fadeUp 0.9s ease forwards;
  }
  
  .cta-inner h2 {
    font-size: 38px;
    margin-bottom: 15px;
  }
  
  .cta-inner p {
    font-size: 18px;
    margin-bottom: 35px;
    opacity: 0.95;
    color:#faf9ff;
  }
  
  /* cta button */
  .cta-btn {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    background: #fff;
    color: #ff6a00;
    font-size: 20px;
    font-weight: bold;
    padding: 18px 38px;
    border-radius: 50px;
    text-decoration: none;
    box-shadow: 0 18px 35px rgba(0,0,0,0.3);
    transition: all 0.3s ease;
  }
  
  .cta-btn:hover {
    transform: translateY(-4px) scale(1.03);
    box-shadow: 0 25px 45px rgba(0,0,0,0.4);
  }
  
  .trust {
    margin-top: 20px;
  }
  
  .trust img {
    height: 28px;
    margin: 0 8px;
    opacity: 0.9;
  }
  
  /* NOTE */
  .cta-note {
    display: block;
    margin-top: 18px;
    font-size: 14px;
    opacity: 0.9;
  }
  
  /* ANIMATION */
  
  @keyframes fadeUp {
    from {
      opacity: 0;
      transform: translateY(35px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* mobile sticky cta */
  
  .mobile-sticky-cta {
    position: fixed;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    background: #ff6a00;
    color: #fff;
    padding: 14px 26px;
    border-radius: 50px;
    font-weight: bold;
    z-index: 999;
    display: none;
    box-shadow: 0 10px 25px rgba(0,0,0,0.35);
    text-decoration: none;
  }
  
  .mobile-sticky-cta i {
    margin-right: 8px;
  }
  
  body.show-sticky .mobile-sticky-cta {
    display: inline-flex;
    align-items: center;
  }
  
  @media (max-width: 768px) {
    .cta-inner h2 {
      font-size: 28px;
    }
  
    .cta-btn {
      font-size: 18px;
      padding: 16px 28px;
    }
  }
  
  /*.exit-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.6);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    
  }

  .exit-close {
    position: absolute;
    top: 10px;
    right: 14px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
  
  .exit-box {
    background: #fff;
    padding: 30px;
    border-radius: 14px;
    text-align: center;
    max-width: 420px;
  }
  */

/* DISCLAIMER */
.disclaimer {
  background: #fffc30;
  border-top: 1px solid #fffc30;
  border-bottom: 1px solid #fffc30;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  padding: 30px 0;
}

.disclaimer-inner {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

.notice-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-bottom: 12px;
}

.notice-text {
  font-weight: bold;
  color: #aa140a;
  font-size: 1rem;
  white-space: nowrap;
}

.notice-line {
  flex: 1;
  height: 1px;
  background: #bd7422;
  max-width: 120px;
}

.disclaimer-text {
  margin: 0;
  font-size: 0.95rem;
  color: #775f12;
  line-height: 1.5;
}

/* footer */

footer{
    background-color: var(--white);
    padding: 50px 0;

    .container{
        justify-content: space-between;
    }

    h3{
        font-size: 16px;
    }
    a{
        color: var(--black);
    }

    img{
        width: 150px;
        height: auto;
    }
    .logo span{
        color: var(--black);
        font-size: 24px;
        font-weight: 300;
        margin: left 8px;
}
    .label{
        padding-left: 3%;
        font-weight: 300;
    }
    .icons{
        color: var(--primary);
        margin-right: 16px;
        margin-top: 16px;
    }
    ul{
        list-style-type: none;
        text-align: left;
        li{
            padding: 16px 0;
        }
    }

   /* .four p{
        margin-top: 16px;
    }

    &{
        border-bottom: 100px solid var(--primary);
    }
*/
    @media(max-width:768px){
        .container{
            flex-direction: column;
            gap: 30px;
        }
    }
    .copyright{
        text-align: center;
        color: var(--black);
        font-size: .9 em;
    }
}

/* Back to Top Button */
#backToTop {
  position: fixed;
  bottom: 25px;
  left: 25px;
  width: 50px;
  height: 50px;
  background: #005a87; /* match your brand */
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: none;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
  z-index: 999;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

#backToTop:hover {
  background: #003f5f;
  transform: translateY(-3px);
}

/* Floating Video */
.floating-video {
  position: fixed;
  top: 10px;
  right: 25px;
  width: 320px;
  max-width: 90%;
  background: transparent;
  border-radius: 14px;
  box-shadow: 0 15px 35px rgba(0,0,0,0.4);
  overflow: hidden;
  z-index: 1000;
  display: block;
  transition: all 0.4s ease;
}

body.scrolled .floating-video{
    top: auto;
    bottom: 10px;
}

.floating-video video {
  width: 100%;
  height: auto;
  display: block;
}

.close-video {
  position: absolute;
  top: 6px;
  right: 8px;
  background: rgba(0,0,0,0.6);
  color: #fff;
  border: none;
  font-size: 20px;
  cursor: pointer;
  border-radius: 50%;
  width: 28px;
  height: 28px;
}

@media (max-width: 768px) {
  .floating-video {
    width: 260px;
    bottom: 80px;
  }
}

/*html {
  scroll-behavior: smooth;
  scroll-padding-top: 120px;
}
*/
